<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ilauncher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ControlGymApplication"
        >
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaMiembroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlanNutrional"
            android:label="@string/app_plan"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.Programa"
            android:label="@string/app_programa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rutinas"
            android:label="@string/app_rutinas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Horarios"
            android:label="@string/app_horarios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Notificaciones"
            android:label="@string/app_notificaciones"
            android:screenOrientation="portrait" />
        <activity android:name=".rounded_border_edittext"></activity>
    </application>

</manifest>